body {
    margin: 0;
    background: url(./media/band.jpg);
    background-size: 1680px 936px;
}

img {
    margin: auto;
    padding-top: 500px;
    padding-left: 625px;
    width: 450px;
    height: 450px;
}